# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Windows specific
[Rr]elease/
[Dd]ebug/
*.suo
*.pdb
*.sdf
*.opensdf
*.user
*.deps
*.ipch

# Executables
*.exe
*.out
*.app
